VITE_SUPABASE_URL=https://laguhturzseygswyaucx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhZ3VodHVyenNleWdzd3lhdWN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njg1MzksImV4cCI6MjA5MDQ0NDUzOX0.s1dcSreEIvOD29bnzuUaJbctVOjWncyWX-Z9DF_SMVM
